# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Distribution / Packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# PyInstaller
# =========================
*.spec

# =========================
# SQLite / DB
# =========================
*.sqlite3
*.db

# =========================
# Cache / Temp
# =========================
.cache/
*.tmp
*.bak

# =========================
# Vosk Models (IMPORTANT 🚨)
# =========================
vosk-model-*/
*.model
*.zip
*.bin